<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Users/colemancapsule/Documents/RRCWEBD3008/pokemon_collector/app/assets/stylesheets/pokemon_cards_styles.css">
    <p style="color: green"><%= notice %></p>
  </head>
  <body>
    <h1>About Pokemon Collector</h1>
    <%= render "layouts/navbar" %>
    <p>Pokemon TCG Database created for collectors to view all cards, by set and series.</p>
    <p>Cards belong to Pokemon Sets, and Pokemon Sets belong to Pokemon Series</p>

  </body>
</html>