  <div id="<%= dom_id pokemon_card %>">
  <p>
    <%= pokemon_card.image alt='card image'%>
  </p>

  <p>
    <%= pokemon_card.name%>
  </p>

  <p>
    <%= pokemon_card.card_number%>
  </p>

  <p>

  </p>

  <p>

  </p>

  <p>

  </p>
  </div>
