<h1>Editing pokemon card</h1>

<%= render "form", pokemon_card: @pokemon_card %>

<br>

<div>
  <%= link_to "Show this pokemon card", @pokemon_card %> |
  <%= link_to "Back to pokemon cards", pokemon_cards_path %>
</div>
