
<link rel="stylesheet" href="/Users/colemancapsule/Documents/RRCWEBD3008/pokemon_collector/app/assets/stylesheets/pokemon_cards_styles.css">




<%= render "layouts/navbar" %>

<div class="container">
<h3>Pokemon cards</h3>
<form action="/search">
  <input name="q" type="text" placeholder="Search">
  <button type="submit">Search</button>
</form>


<div class="section-pokemon_cards">
  <div class="container">
    <div class="card-flexbox">
      <% @pokemon_cards.each do |pokemon_card| %>
        <%= render pokemon_card%>

      <% end %>

    </div>

  </div>
</div>
</div>

<div class="container">
  <%= paginate @pokemon_cards%>
</div>


