<p style="color: green"><%= notice %></p>

<h1>Pokemon cards</h1>

<div id="pokemon_cards">
  <% @pokemon_cards.each do |pokemon_card| %>
    <%= render pokemon_card %>
    <p>
      <%= link_to "Show this pokemon card", pokemon_card %>
    </p>
  <% end %>
</div>

<%= link_to "New pokemon card", new_pokemon_card_path %>
