<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/Users/colemancapsule/Documents/RRCWEBD3008/pokemon_collector/app/assets/stylesheets/pokemon_cards_styles.css">

</head>
<body>

<h1>Pokemon cards</h1>
<%= render "layouts/navbar" %>

<form action="/search">
  <input name="q" type="text" placeholder="Search">
  <button type="submit">Search</button>
</form>


<div class="section-pokemon_cards">
  <div class="container">
    <div class="card-flexbox">
      <% @pokemon_cards.each do |pokemon_card| %>
        <%= render pokemon_card%>

      <% end %>
      <%= paginate @pokemon_cards%>
    </div>

  </div>
</div>

<%= link_to "New pokemon card", new_pokemon_card_path %>
</body>
</html>