<div id="<%= dom_id pokemon_set %>">
  <p>
    <strong>Series:</strong>
    <%= pokemon_set.series_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pokemon_set.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= pokemon_set.image %>
  </p>

</div>
