<div class="container">
<%= render "layouts/navbar" %>

<%= render @pokemon_set %>

<div>
<p>
  <%= link_to "Edit this pokemon set", edit_pokemon_set_path(@pokemon_set) %> |
  <%= link_to "Back to pokemon sets", pokemon_sets_path %>
</p>
</div>
</div>
