
<h1>Series</h1>
<%= render "layouts/navbar" %>


<div id="series">
  <% @series.each do |series| %>
    <%= render series %>
    <p>
      <%= link_to "Show this series", series %>
    </p>
  <% end %>
</div>



