<%= render "layouts/navbar" %>

<div class="container">
<h3>Series</h3>




<div id="series">
  <% @series.each do |series| %>
    <%= render series %>
    <p>
      <%= link_to "Show this series", series %>
    </p>
  <% end %>
</div>
</div>



